@media only screen and (min-width: 480px) {
    ::-webkit-scrollbar {
        width: 7px;
        height: 2px;
    }

    ::-webkit-scrollbar-button {
        width: 0;
        height: 0;
    }

    ::-webkit-scrollbar-thumb {
        background: $themeColorFour;
        border: 0 none #fff;
        border-radius: 0;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: $themeColorFour;
    }

    ::-webkit-scrollbar-thumb:active {
        background: $themeColorFour;
    }

    ::-webkit-scrollbar-track {
        background: $themeColorOne;
        border: 0 none #fff;
        border-radius: 0;
    }

    ::-webkit-scrollbar-track:hover {
        background: $themeColorOne;
    }

    ::-webkit-scrollbar-track:active {
        background: $themeColorOne;
    }

    ::-webkit-scrollbar-corner {
        background: transparent;
    }
}
